<.header>
  New Poet
  <:subtitle>Use this form to manage poet records in your database.</:subtitle>
</.header>

<.poet_form changeset={@changeset} action={~p"/poets"} />

<.back navigate={~p"/poets"}>Back to poets</.back>
