<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:bio]} type="text" label="Bio" />
  <.input field={f[:birth_date]} type="date" label="Birth date" />
  <.input field={f[:death_date]} type="date" label="Death date" />
  <:actions>
    <.button>Save Poet</.button>
  </:actions>
</.simple_form>
